<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <button id="get">Get all user</button>

    <form id="add">
      <input type="text" name="userName" id="userName" />
      <input type="datetime" name="dateTime" id="dateTime" />
      <input type="submit" value="Test" />
    </form>

    <form id="update">
      <input type="text" name="userID" id="userID" />
      <input type="text" name="userName" id="userName" />
      <input type="datetime" name="dateTime" id="dateTime" />
      <input type="submit" value="Add" />
    </form>

    <form id="delete">
      <input type="text" name="userID" id="userID" />
      <input type="submit" value="deleteUser" />
    </form>
  </body>
  {% load static %}
</html>
