* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 30px 10%;
  background-color: #24252a;
}

body {
  background-color: #24252a;
}

.logo {
  margin-right: auto;
}

.nav__links {
  list-style: none;
  display: flex;
}

.nav__links a,
.cta,
.overlay__content a {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #edf0f1;
  text-decoration: none;
}

.nav__links li {
  padding: 0px 20px;
}

.nav__links li a {
  transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
  color: #0088a9;
}

.cta {
  margin-left: 20px;
  padding: 9px 25px;
  background-color: rgba(0, 136, 169, 1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.cta:hover {
  background-color: rgba(0, 136, 169, 0.8);
}

/* Mobile Nav */

.menu {
  display: none;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: #24252a;
  overflow-x: hidden;
  transition: all 0.5s ease 0s;
}

.overlay--active {
  width: 100%;
}

.overlay__content {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.overlay a {
  padding: 15px;
  font-size: 36px;
  display: block;
  transition: all 0.3s ease 0s;
}

.overlay a:hover,
.overlay a:focus {
  color: #0088a9;
}
.overlay .close {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  color: #edf0f1;
  cursor: pointer;
}

@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px;
  }
  .overlay .close {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

@media only screen and (max-width: 800px) {
  .nav__links,
  .cta {
    display: none;
  }
  .menu {
    display: initial;
  }
}

#fb {
  /*moves the buddy request border - the border and the name */
  width: 80%;
  border: 1px solid gray;
  border-radius: 10px;
  height: 110%;
  margin: 5%;
}
#fb p {
  /*affects the name and buddy request text */
  font-family: "Montserrat", sans-serif;
  margin: 0 0 0 10px;
  line-height: 30px;
}

#fb-top span {
  color: #4267b2;
  float: right;
  margin-right: 10px;
}
#fb-top {
  /* affects ONLY the white box of buddy request */

  background-color: #ffffff;
  height: 30px;
  width: 100%;
  border-radius: 5px 5px 0 0;
  /* position: absolute;
  top: -1px;
  left: -1px; */
  border: 1px solid gray;
}

#info {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #edf0f1;
  text-decoration: none;
  line-height: 25px;
  font-size: 18px;
}

#info span {
  color: #777;
  font-size: 14px;
}

#button-block {
  display: flex;
  justify-content: space-evenly;
}

#button-block div {
  display: inline;
}

#accept,
#reject {
  background-color: rgba(39, 169, 0, 0.692);
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  color: white;
  padding: 9px 25px;
  margin-right: 5%;
  font-family: "Montserrat", sans-serif;
}

#reject {
  color: white;
  background-color: rgb(223, 9, 9);
}

#button-block div:hover {
  opacity: 0.8;
  cursor: pointer;
}

#chatbox {
  position: fixed;
  right: 80px;
  top: 300px;
  background: rgb(220, 215, 215);
  font-size: 20px;
  padding: 10px;
  width: 25%;
  border: 5px solid rgb(0, 0, 0);
  margin: 10px;
}

#profilebox {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #edf0f1;
  text-decoration: none;
  line-height: 25px;
  font-size: 18px;

  padding: 2%;
  border: 3px solid rgb(0, 0, 0);
  border-radius: 20px;
  margin: 26px;
  box-shadow: rgb(255, 255, 255) 0px 1px 55px, rgb(255, 255, 255) 0px 1px 30px,
    rgb(255, 255, 255) 0px 1px 6px, rgba(245, 243, 243, 0.982) 0px 1px 13px,
    rgb(243, 238, 238) 0px -3px 5px;
  height: 20%;
}

img {
  border-radius: 50%;
  width: auto;
  height: 30%;
}

.slide {
  padding: 9px 25px;
  background-color: rgba(0, 136, 169, 1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #edf0f1;
  text-decoration: none;
  font-size: 16px;
  margin-top: 10px;
}

.slide:hover {
  background-color: rgba(0, 136, 169, 0.8);
}

#time {
  text-align: right;
}

.wrapper {
  display: flex;
  justify-content: space-between;
}

.main {
  width: 60%;
  height: 150vh;
}

.sidebar {
  width: 36%;
  height: 25vh;
}

.notifPic {
  width: 20%;
  height: auto;
  margin-top: 5%;
  margin-bottom: 3%;
}

.buddyName {
  font-size: x-large;
  color: white;
}

.buddyBox {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.btn {
  /*submit button css*/
  padding: 10px 60px;
  background: #fff;
  border: 0;
  outline: none;
  cursor: pointer;
  font-size: 22px;
  font-weight: 500;
  border-radius: 30px;
}

.popup {
  width: 400px;
  background: #fff;
  border-radius: 6px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.1);
  text-align: center;
  padding: 0 30px 30px;
  color: #333;
  visibility: hidden;
  transition: transform 0.4s, top 0.4s;
}

.open-popup {
  visibility: visible;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
}

.popup h2 {
  font-size: 38px;
  font-weight: 500;
  margin: 30px 0 10px;
}

.popup button {
  width: 100%;
  margin-top: 50px;
  padding: 10px 0;
  background: #636662;
  color: #fff;
  border: 0;
  outline: none;
  font-size: 18px;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}
